#productList .btn-warning {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

#productList .btn-success {
  position: absolute;
  bottom: 20px;
  right: 40px;
}

#productList .card {
  transition: 0.3s;
}

#productList .card:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transform: translateY(-10px);
}

i {
  font-size: 50px;
  position: relative;
}

#cart {
  position: relative;
}

#cartQuantity {
  text-align: center;
  position: absolute;
  top: -5px;
  right: -5px;
  width: 25px;
  height: 25px;
  background: yellow;
  border-radius: 50%;
  z-index: 10;
}
